grammar2-tme5.rnc

include "grammar-tme5.rnc" {

	suivant = element suivant {
		attribute name { xsd:Name - ( xsd:Name { pattern = "(ilp|ILP)" } ) },
		empty
	}

	dernier = element dernier {
		attribute name { xsd:Name - ( xsd:Name { pattern = "(ilp|ILP)" } ) },
		empty
	}
	
	loop = element loop {
		attribute name { xsd:Name - ( xsd:Name { pattern = "(ilp|ILP)" } ) },
    		element condition { expression },
    		element body      { expression + }
	}

}

